<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="profile.css">
</head>

<body>
    <div class="profile-card">
        <h2>User Profile</h2>
        <div class="profile-info">
            <div class="profile-picture">
                <img src="profile-placeholder.png" alt="Profile Picture" id="profile-picture">
            </div>
            <div class="info">
                <h3>Name:</h3>
                <p id="name">
                    <input type="text" id="name" name="name" placeholder="Enter your name" required>
                    
                </p>
                <h3>Email:</h3>
                <p id="email">
                    <input type="text" id="email" email="email" placeholder="Enter your email" required>

                </p>
                <h3>Phone Number:</h3>
                <p id="phone">
                    <input type="text" id="phone-no" name="phone number" placeholder="Enter your ph-no" required>

                </p>
            </div>
        </div>
        <div class="actions">
            <button id="edit-profile">Edit Profile</button>
        </div>
    </div>
</body>

</html>
